@using TechExpoWorld.Web.ViewModels.News
@model IEnumerable<NewsArticleViewModel>

@{
    ViewBag.Title = "My News Articles";
    ViewBag.AreNewsArticlesMine = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any news articles!</h2>
}

<partial name="_NewsArticlesPartial" model="Model" />