@using TechExpoWorld.Web.ViewModels.Events
@model IEnumerable<MyTicketServiceModel>

<table class="table table-hover">
    <thead class="bg-info text-white">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Event</th>
            <th scope="col" class="text-end">Virtual Tickets</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var myVirtualTicket in Model)
        {
            <tr>
                <th scope="row">@(ViewBag.CountVirtualTickets++)</th>
                <td>@myVirtualTicket.EventTitle</td>
                <td>
                    <a asp-controller="Events" asp-action="CancelTicket" asp-route-id="@myVirtualTicket.EventId" asp-route-ticketId="@myVirtualTicket.TicketId">
                        <span class="btn btn-secondary btn-outline-dark text-white float-end">Cancel this Ticket</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>