@model EventDetailsServiceModel

<div class="row">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <form asp-controller="Events" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" readonly placeholder="AI and Big Data Expo...">
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" rows="10" class="form-control" readonly placeholder="The leading Artificial Intelligence..."></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" readonly placeholder="London, UK...">
            </div>
            <div class="form-group">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" type="datetime-local" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" type="datetime-local" class="form-control" readonly>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TotalPhysicalTickets"></label>
                        <input asp-for="TotalPhysicalTickets" class="form-control" readonly placeholder="Count e.g. 245">
                    </div>
                    <div class="form-group">
                        <label asp-for="PhysicalTicketPrice"></label>
                        <input asp-for="PhysicalTicketPrice" class="form-control" readonly placeholder="e.g. 400.00">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TotalVirtualTickets"></label>
                        <input asp-for="TotalVirtualTickets" class="form-control" readonly placeholder="Count e.g. 245">
                    </div>
                    <div class="form-group">
                        <label asp-for="VirtualTicketPrice"></label>
                        <input asp-for="VirtualTicketPrice" class="form-control" readonly placeholder="e.g. 400.00">
                    </div>
                </div>
            </div>

            <input class="btn btn-primary mt-3" type="submit" value="Submit" />
        </form>
    </div>
</div>