@using Microsoft.AspNetCore.Identity
@using TechExpoWorld.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IAttendeesService Attendee
@inject IAuthorsService Authors

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.Id();
        var isAdmin = User.IsAdmin();
        var isAttendee = await Attendee.IsAttendeeAsync(userId);
        var isAuthor = await Authors.IsAuthorAsync(userId);

        if (isAuthor && !isAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="News" asp-action="MyNewsArticles">My News Articles</a>
            </li>
        }
        else if (!isAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Authors" asp-action="BecomeAuthor">Become an Author</a>
            </li>
        }
        if (isAttendee && !isAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Events" asp-action="MyTickets">My Tickets</a>
            </li>
        }
        else if (!isAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Attendees" asp-action="BecomeAttendee">Become an Attendee</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
