@model MyTicketsViewModel

@{
    ViewBag.Title = "My Tickets";
    ViewBag.CountPhysicalTickets = 1;
    ViewBag.CountVirtualTickets = 1;
}

@if (!Model.MyPhysicalTickets.Any())
{
    <h2 class="text-center">You have no physical tickets!</h2>
}
else
{
    <partial name="_MyPhysicalTicketsPartial" model="Model" />
}

@if (!Model.MyVirtualTickets.Any())
{
    <h2 class="text-center">You have no virtual tickets!</h2>
}
else
{
    <partial name="_MyVirtualTicketsPartial" model="Model" />
}